@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    /* Add a background color to match the chart */
    background-color: #141415;
}

#backtesting-container {
    padding: 0;
    margin: 0;
    /* Add a background color to match the chart */
    background-color: #fff;
  }

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    background-color: #141415;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
}
